:root {
    --header-height: 15vh;
    --app-header-height: 7vh;
    --element-color: #d9dbd5;
    --icon-color: #b1b1b1;
}

/********************
    GENERALS RULES
*********************/
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    line-height: 1.2rem;
    position: relative;
}

img {
    width: 100%;
}

/********************
    //GENERALS RULES
*********************/

/********************
    STYLE
*********************/

/************* Blocks macro structure *************/
.green {
    height: var(--header-height);
    background-color: #009688;
}

.white {
    height: calc(100vh - var(--header-height));
    background-color: #d9dbd5;
}

#root {
    height: 90vh;
    width: 80vw;
    border: 2px solid black;
    position: absolute;
    top: 5%;
    left: 10%;
}

/************* /Blocks macro structure *************/

/************* APP Container - macro blocks *************/

.app-container {
    display: flex;
}

aside {
    width: 30%;
    height: 90vh;
    border-right: 1px solid gray;
    background-color: #fff;
}

main {
    flex-grow: 1;
    height: 90vh;
}

/************* //APP Container - macro blocks *************/

/**** ASIDE ****/
#account-navigator {
    height: var(--app-header-height);
    background-color: var(--element-color);
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.profile-pic {
    width: 50px;
    border-radius: 50%;
    vertical-align: middle;
}

#account-navigator span {
    vertical-align: middle;
    font-weight: bold;
}

#account-navigator i {
    color: var(--icon-color);
    font-size: 1.5rem;
    font-weight: bold;
    padding: 0 5px;
    cursor: pointer;
}

#enable-notification {
    height: 8vh;
    background-color: #8edafc;
    display: flex;
}

.section-container {
    width: 95%;
    margin: 10px auto;
    padding: 10px 0;
    display: flex;
}

.section-container p {
    color: #4f7485;
    text-decoration: underline;
    cursor: pointer;
}

.bi-bell-slash-fill {
    font-size: 1.8rem;
    border-radius: 50%;
    padding: 10px;
    color: #8edafc;
    background-color: white;
    cursor: pointer;
}

.notification-actions {
    margin-left: 10px;
}

#search-chat {
    height: 5vh;
    background-color: var(--element-color);
    padding: 10px;
    text-align: center;
}

aside input {
    padding: 0.6vh;
    margin: 0 auto;
    width: 95%;
    border: 1px solid lightgray;
}

/**** //ASIDE ****/

/********************
    //STYLE
*********************/