:root {
    --header-height: 15vh;
    --app-header-height: 7vh;
    --enable-notification-height: 8vh;
    --search-bar-height: 5vh;
    --element-color: #d9dbd5;
    --icon-color: #737373;
}

/********************
    GENERALS RULES
*********************/
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Segoe UI', sans-serif;
    position: relative;
}

img {
    width: 100%;
}

/********************
    //GENERALS RULES
*********************/

/********************
    STYLE
*********************/

/************* Blocks macro structure *************/
.green {
    height: var(--header-height);
    background-color: #009688;
}

.white {
    height: calc(100vh - var(--header-height));
    background-color: #d9dbd5;
}

#root {
    height: 90vh;
    width: 80vw;
    /*border: 2px solid black; */
    position: absolute;
    top: 5%;
    left: 10%;
}

/************* /Blocks macro structure *************/

/************* APP Container - macro blocks *************/

.app-container {
    display: flex;
}

aside {
    width: 30%;
    height: 90vh;
    border-right: 1px solid gray;
    background-color: #fff;
}

main {
    flex-grow: 1;
    height: 90vh;
}

/************* //APP Container - macro blocks *************/

/**** ASIDE ****/
#account-navigator {
    height: var(--app-header-height);
    background-color: var(--element-color);
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.profile-pic {
    width: 50px;
    border-radius: 50%;
    vertical-align: middle;
}

#account-navigator span {
    vertical-align: middle;
    font-weight: bold;
}

#account-navigator i,
.chat-header i,
.chat-actions i {
    color: var(--icon-color);
    font-size: 1.5rem;
    font-weight: bold;
    padding: 0 5px;
    cursor: pointer;
}

#enable-notification {
    height: var(--enable-notification-height);
    background-color: #8edafc;
    display: flex;
}

.section-container {
    width: 95%;
    margin: .5rem auto;
    padding: .5rem 0;
    display: flex;
    align-items: center;
}

#enable-button {
    color: #4f7485;
    text-decoration: underline;
    cursor: pointer;
}

.bi-bell-slash-fill {
    font-size: 1.8rem;
    border-radius: 50%;
    padding: 10px;
    color: #8edafc;
    background-color: white;
    cursor: pointer;
}

.notification-actions {
    margin-left: 10px;
}

#search-chat {
    height: var(--search-bar-height);
    background-color: var(--element-color);
    padding: 10px;
    text-align: center;
}

aside input {
    padding: 0.6vh;
    margin: 0 auto;
    width: 95%;
    border: 1px solid lightgray;
}

/************* Chat Preview section *************/
#scrollable-container {
    overflow-y: scroll;
    height: calc(90vh - var(--app-header-height) - var(--enable-notification-height) - var(--search-bar-height));
}

.chat-preview {
    height: 9vh;
    border-top: 1px solid gray;
    border-bottom: 1px solid lightgray;
    position: relative;
    display: flex;
    align-items: center;
}

.contact-preview {
    margin-left: 1rem;
}

.contact-preview h4 {
    padding-bottom: .1rem;
}

.message-time {
    position: absolute;
    top: 2%;
    right: 1%;
    font-size: 0.8rem;
}

.chat-preview.activeChat {
    background-color: #e9ebeb;
}

/************* //Chat Preview section *************/

/**** //ASIDE ****/

/**** MAIN ****/
.chat-header {
    height: var(--app-header-height);
    background-color: var(--element-color);
    display: flex;
    padding: 10px 20px;
    justify-content: space-between;
    align-items: center;
}

.main-chat {
    height: 76vh;
    background-image: url('../img/mine.jpg');
    overflow-y: scroll;
}

.chat-actions {
    height: var(--app-header-height);
    background-color: var(--element-color);
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#last-seen {
    font-size: 0.9rem;
}

.chat-actions input {
    width: 85%;
    height: 5vh;
    border-radius: 10px;
    border: 1px solid gray;
}

.chat-actions i {
    font-size: 1.8rem;
}

/**** Message Containers ****/
.messages-container {
    width: 100%;
    height: 95%;
    margin: 20px auto;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    padding: 20px;
}

.message {
    padding: 10px 40px 10px 15px;
    margin-bottom: 30px;
    border: 1px solid lightgray;
    border-radius: 10px;
    position: relative;
}

.sent-container {
    display: flex;
    justify-content: end;
}

.received-container {
    display: flex;
}

.received {
    background-color: #fff;
}

.sent {
    background-color: #d5f9ba;
}

.hour {
    font-size: 0.6rem;
    position: absolute;
    bottom: 0;
    right: 3%;
}


/**** //Message Container ****/

/**** //MAIN ****/

/********************
    //STYLE
*********************/